{% extends "base.html" %}

{% block content %}

<h1>Rock, Paper, Scissors...FIGHT!</h1>

<h2>TWO HANDS ENTER! ONE HAND LEAVES!</h2>

<form action="/twoplayer" method="POST">
    <label for="p1-name">Player One Name</label>
    <input type="text" name="p1-name" id="p1-name">
    <label for="p1-move">Player One Move</label>
    <input type="text" name="p1-move" id="p1-move">


    <label for="p2-name">Player Two Name</label>
    <input type="text" name="p2-name" id="p2-name">
    <label for="p2-move">Player Two Move</label>
    <input type="text" name="p2-move" id="p2-move">

    <input type="submit" value="FIGHT">
</form>

{% endblock %}